<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
   <listener class-name="EndToEndWebTesting.AutomationWebTests.listeners"></listener>
   <listener class-name="EndToEndWebTesting.AutomationWebTests.ExtentReporterNG"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="EndToEndWebTesting.AutomationWebTests.WebTests"/>
    </classes>
  </test> 
</suite> 
